body {
    padding-top: 70px;
}

footer {
	text-align: right;
}

label {
    margin-right: 5px;
}

i {
    font-style: normal;
}

span {
    margin-right: 5px;
}

.form-group {
    margin-left: 10px;
}

#scene {
	position: absolute;
	left: 0px !important;
	top: 0px !important;
	height: 100% !important;
	width: 100% !important;
}
