# -*- coding: utf-8 -*-

# Web App
HOST = 'localhost'
DEBUG = False
PORT = 8080

# Dandelion API key
TOKEN_DANDELION = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SENTIMENT_URL = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
LANGUAGE = "XX"

# Twitter API keys
ACCESS_TOKEN = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ACCESS_TOKEN_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CONSUMER_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXX"
CONSUMER_SECRET = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Storage parameters
DATA_FOLDER = "data"
IGNORED_FOLDER = "ignored_data"
ARCHIVED_FOLDER = "archived_data"
DOWNLOADING_FOLDER = "downloading_data"
PREPROCESSED_FOLDER = "preprocessed_data"
UNPREPROCESSED_FOLDER = "unpreprocessed_data"

IGNORE_FILES = ['.DS_Store']

PATH_IGNORED_FOLDER = DATA_FOLDER + '/' + IGNORED_FOLDER
PATH_ARCHIVED_FOLDER = DATA_FOLDER + '/' + ARCHIVED_FOLDER
PATH_PROCESSED_FOLDER = DATA_FOLDER + '/' + PREPROCESSED_FOLDER
PATH_DOWNLOADING_FOLDER = DATA_FOLDER + '/' + DOWNLOADING_FOLDER
PATH_UNPROCESSED_FOLDER = DATA_FOLDER + '/' + UNPREPROCESSED_FOLDER